* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(98, 177, 230);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    border: 5px solid white;
    padding: 1rem;
    font-size: 2rem;
}
